@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

.icon{
    clip-path: ellipse(35rem 45rem at 0% 100%);
}

.header{
    font-family: 'Parisienne', cursive;
}

.hover:hover{
    color: #F87171
}

@media screen and (max-width: 1024px) and (min-width: 768px){
  .icon{
    clip-path: ellipse(22rem 25rem at 0% 100%);
    height:40vh
    
  }
}

@media screen and (max-width: 768px) and (min-width: 640px){
    .icon{
      clip-path: circle(50%);
      height:40vh
  }
}

@media screen and (max-width: 640px){
    .icon{
      clip-path: circle(50%);
      height:30vh
  }
}