@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

.icon{
    clip-path: ellipse(35rem 45rem at 0% 100%);
}

.header{
    font-family: 'Parisienne', cursive;
}

.hover:hover{
    color: #F87171
}